# Created by https://www.toptal.com/developers/gitignore/api/remix
# Edit at https://www.toptal.com/developers/gitignore?templates=remix

### React Router ###
node_modules
/.cache
/build
/public/build
.env
/.react-router/

# End of https://www.toptal.com/developers/gitignore/api/remix

### Custom ###

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

.vscode
### End of Custom ###