@import "tailwindcss";

:root {
  --base-padding: calc(var(--spacing) * 4);
  --background: oklch(0.96 0 0);
  --foreground: oklch(0.32 0 0);
  --popover-foreground: oklch(0.32 0 0);
  --primary: oklch(0.49 0 0);
  --primary-foreground: oklch(1.00 0 0);
  --secondary: oklch(0.91 0 0);
  --secondary-foreground: oklch(0.32 0 0);
  --muted: oklch(0.89 0 0);
  --muted-foreground: oklch(0.51 0 0);
  --accent: oklch(0.81 0 0);
  --accent-foreground: oklch(0.32 0 0);
  --destructive: oklch(0.56 0.19 25.86);
  --destructive-foreground: oklch(1.00 0 0);
  --border: oklch(0.92 0 0);
  --input: oklch(0.91 0 0);
  --ring: oklch(0.49 0 0);
}

@theme inline {
  --spacing-base: var(--base-padding);
  --spacing-base-scroll: calc(var(--base-padding) - 10px);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
}

@layer base {
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--border) transparent;
    @apply border-border;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply text-sm text-foreground;
  }

  .scrollbar-stable {
    scrollbar-gutter: stable;
  }
}
