@import "tailwindcss";

:root {
  --base-padding: calc(var(--spacing) * 4);
  --border: oklch(0.92 0 0);
  --input: oklch(0.929 0.013 255.508);
  --ring: oklch(0.704 0.04 256.788);
  --background: oklch(0.98 0 0);
  --foreground: oklch(0.47 0 0);
  --primary: oklch(0.31 0 0);
  --primary-foreground: oklch(0.98 0 0);
  --destructive: oklch(0.69 0.03 265.57);
  --destructive-foreground: oklch(0.98 0 0);
  --secondary: oklch(0.98 0 0);
  --secondary-foreground: oklch(0.6 0 0);
  --accent: oklab(0.95 0 0);
  --accent-foreground: oklab(0.37 0 0);
}

@theme inline {
  --spacing-base: var(--base-padding);
  --spacing-base-scroll: calc(var(--base-padding) - 10px);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
}

@layer base {
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--border) transparent;
    @apply border-border;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply text-sm text-foreground;
  }

  .scrollbar-stable {
    scrollbar-gutter: stable;
  }
}
