@import "tailwindcss";

:root {
  --layout-shadow: #efefef;
}

@theme {
  --shadow-neumorphic: -5px -5px 5px var(--layout-shadow), 5px 5px 5px var(--layout-shadow);
  --color-glassmorphism: rgba(255, 255, 255, 0.3);
}
