@import "tailwindcss";
@import "./variable.css";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --spacing-content: var(--max-content-width);
  --spacing-base: var(--base-spacing);
  --spacing-wrapper-with-scrollbar: var(--wrapper-with-scrollbar-spacing);
  --spacing-content-with-scrollbar: var(--content-with-scrollbar-spacing);
  --radius-base: var(--base-radius);
}

@layer base {
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--foreground) transparent;
    scroll-behavior: smooth;
  }

  body {
    @apply text-sm text-foreground;
  }

  .wrapper-with-scrollbar {
    @apply overflow-hidden pr-wrapper-with-scrollbar!;
  }

  .content-with-scrollbar {
    @apply w-full h-full overflow-y-auto pr-content-with-scrollbar;
    scrollbar-gutter: stable;
  }

  .background {
    @apply bg-background bg-[size:6rem_4rem];
    @apply bg-[linear-gradient(to_right,#f0f0f0_1px,transparent_1px),linear-gradient(to_bottom,#f0f0f0_1px,transparent_1px)]
  }
}
