@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

@theme inline {
}

:root {
}

.dark {
}

@layer base {
  * {
    scrollbar-width: thin;
    scroll-behavior: smooth;
  }

  html {
    font-size: 16px;
  }

  body {
    font-family: "Source Han Serif SC VF";
  }
}
