@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
}

:root {
}

.dark {
}

@layer base {
  * {
    scrollbar-width: thin;
    scroll-behavior: smooth;
  }
}
