@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-ring: var(--ring);
  --color-border: var(--border);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);

  --spacing-main: var(--container-xl);
  --spacing-content: var(--container-2xl);
  --font-ioskeley: "Ioskeley Mono", monospace;
}

:root {
  --background: oklch(0.985 0.002 247.839);
  --foreground: oklch(0.13 0.028 261.692);
  --border: oklch(1 0 0 / 10%);
  --ring: oklch(0.551 0.027 264.364);
  --border: oklch(0.928 0.006 264.531);
  --ring: oklch(0.707 0.022 261.325);
  --primary: oklch(0.21 0.034 264.665);
  --secondary: oklch(0.551 0.027 264.364);
}

.dark {
  --background: oklch(0.13 0.028 261.692);
  --foreground: oklch(0.985 0.002 247.839);
  --border: oklch(1 0 0 / 10%);
  --ring: oklch(0.551 0.027 264.364);
  --primary: oklch(0.928 0.006 264.531);
  --secondary: oklch(0.707 0.022 261.325);
}

@layer base {
  * {
    @apply border-border outline-ring/50 scroll-smooth;
    scrollbar-width: thin;
  }

  body {
    @apply bg-background text-primary;
  }

  @font-face {
    font-family: "Ioskeley Mono";
    src: url("/ioskeley-mono.woff2");
  }
}
