@import "tailwindcss";
/* @import "./variable.css"; */

:root {
  --base-padding: calc(var(--spacing) * 4);
  --padding-scroll-wrapper: 4px;
  --padding-scroll-ctx: calc(var(--base-padding) - var(--padding-scroll-wrapper));
  --base-radius: 0;

  --border: oklch(0.2478 0 0);
  --input: oklch(0.91 0 0);
  --ring: oklch(0.49 0 0);
  --background: oklch(0.96 0 0);
  --foreground: oklch(0.32 0 0);
  --primary: oklch(0.49 0 0);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.91 0 0);
  --secondary-foreground: oklch(0.32 0 0);
  --muted: oklch(0.89 0 0);
  --muted-foreground: oklch(0.51 0 0);
  --accent: oklch(0.81 0 0);
  --accent-foreground: oklch(0.32 0 0);
  --destructive: oklch(0.56 0.19 25.86);
  --destructive-foreground: oklch(1 0 0);
  --popover: oklch(0.97 0 0);
  --popover-foreground: oklch(0.32 0 0);
  --card: oklch(0.96 0 0);
  --card-foreground: oklch(0.24 0 0);
}

@theme inline {
  --spacing-base: var(--base-padding);
  --spacing-scroll-wrapper: var(--padding-scroll-wrapper);
  --spacing-scroll-ctx: var(--padding-scroll-ctx);
  --radius-base: var(--base-radius);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
}

@layer base {
  * {
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: var(--border) transparent;
    @apply border-border;
  }

  body {
    @apply text-sm text-foreground;
  }

  .scroll-wrapper {
    @apply overflow-hidden pr-scroll-wrapper!;
  }

  .scroll-ctx {
    @apply w-full h-full overflow-y-auto pr-scroll-ctx;
    scrollbar-gutter: stable;
  }
}
