:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0 0 0);
  --background-gradient:
    linear-gradient(to right, var(--secondary) 1px, transparent 1px),
    linear-gradient(to bottom, var(--secondary) 1px, transparent 1px);

  --max-content-width: calc(var(--spacing) * 420); /* ~ 1680px */
  --base-spacing: calc(var(--spacing) * 4); /* ~ 16px */
  --wrapper-with-scrollbar-spacing: 4px;
  --content-with-scrollbar-spacing: calc(var(--base-spacing) - var(--wrapper-with-scrollbar-spacing));
  --base-radius: calc(var(--spacing) * 2); /* ~8px */

  /* custom variable for components/ui/\* */
  --border: oklch(0.92 0 0);
  --input: oklch(0.94 0 0);
  --ring: oklch(0 0 0);
  --primary: var(--foreground);
  --primary-foreground: var(--background);
  --secondary: oklch(0.94 0 0);
  --secondary-foreground: oklch(0 0 0);
  --destructive: oklch(0.63 0.19 23.03);
  --destructive-foreground: oklch(1 0 0);
  --accent: oklch(0.94 0 0);
  --accent-foreground: oklch(0 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.44 0 0);
  --popover: oklch(0.99 0 0);
  --popover-foreground: oklch(0 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0 0 0);
}
