:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0 0 0);

  --max-content-width: calc(var(--spacing) * 420); /* ~ 1680px */
  --base-spacing: calc(var(--spacing) * 4); /* ~ 16px */
  --wrapper-with-scrollbar-spacing: 4px;
  --content-with-scrollbar-spacing: calc(var(--base-spacing) - var(--wrapper-with-scrollbar-spacing));
  --base-radius: 0;

  /* custom variable for components/ui/\* */
}
